.nav {
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 4em;
    background: #fff;
    z-index: 999;
}

.nav-items-left, .nav-items-right {
    display: flex;

}
.nav-items-right{
    display: flex;
    margin-right: 150px;
    gap: 50px;
}
.nav-items-left{
    margin-left: 150px;
    display: flex;
    gap: 50px;
}
.background-land{
    padding-top: 435px;
    height: 120vh;
    border-radius: 0px 0px 55px 75px;
    background: linear-gradient(220deg, hsl(190deg 67% 63%) 0%, hsl(196deg 68% 61%) 10%, hsl(203deg 64% 61%) 20%, hsl(212deg 55% 62%) 30%, hsl(228deg 40% 62%) 40%, hsl(256deg 29% 58%) 50%, hsl(276deg 32% 57%) 60%, hsl(296deg 33% 55%) 70%, hsl(314deg 47% 56%) 80%, hsl(325deg 64% 58%) 90%, hsl(333deg 81% 59%) 100%);

}

.nav-item {
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    color: #3E2723;

    padding: 0 1em;
    font-family: "HK Guise";
    font-weight: 500;
    font-size: 16px;
}

.logo {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Cosi Times";
    padding: 1em;
    z-index: 1000;
    font-size: 48px; /* Adjust this to set the original size of the logo */
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

.content {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: relative;
    padding: 0 4em;
}

.content img {
    width: 100%;
}

img {
    margin-bottom: 4em;
}


.montserrat-thick {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}










.img1{
    transform: translate(386.6px,-720.233px);
    rotate: 12deg;
    position: absolute;
    filter: blur(3px);
    z-index: 5;
    top: 860px;
    right: 20px;
    height: 280px;
    width: 280px;

}
.img2{
    position: absolute;
    transform: translate(-367.15px,-407.233px);
    rotate: 180deg;
    z-index: 5;
    width: 200px;
    height: 200px;
    filter: blur(6px);
    top: -350px;
    right:300px;
}
.img3{
    height: 350px;
    position: absolute;
    rotate: -43deg;
    z-index: 5;
    top: 228px;
    left:920px;
    /*animation: float 6s ease-in;*/
}
.img4{
    position: absolute;
    top: 450px;
    right: 0px;
    rotate: 30deg;
    filter: blur(6px);
    z-index: 5;
}
.content-lander{
    position: absolute;
    top: 200px;
    left: 150px;

}
.lobster-two-regular {
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lobster-two-bold {
    font-family: "Lobster Two", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.lobster-two-italic {
    font-family: "Lobster Two", sans-serif;
    font-weight: 700;
    font-style: italic;
}


























.l-btn {
    z-index: 5;
    display: flex;
    background-color: white;
    width: 150px;
    height: 44px;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    position: relative;
    padding: 5px 15px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    color: #3f2021;
}

.l-btn span {
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s ease-in-out;
    z-index: 2;
}

.l-btn .icon-container {
    background-color: #f04e98;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: background-color 0.3s ease-in-out;
}

.l-btn::before,
.l-btn::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #f04e98;
    border-radius: 50%;
    top: 50%;
    z-index: 1;
}

.l-btn::before {
    left: -20px;
    transform: translate(-50%, -50%);
}

.l-btn::after {
    right: -20px;
    transform: translate(50%, -50%);
}

.l-btn:hover {
    color: white;
}

.l-btn:hover .icon-container {
    background-color: white;
}

.l-btn:hover svg {
    color: #f04e98;
}

.l-btn:hover::before {
    animation: criss-cross-left 0.8s both;
    animation-direction: alternate;
}

.l-btn:hover::after {
    animation: criss-cross-right 0.8s both;
    animation-direction: alternate;
}

@keyframes criss-cross-left {
    0% {
        left: -20px;
    }
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        left: 50%;
        width: 375px;
        height: 46px;
    }
}

@keyframes criss-cross-right {
    0% {
        right: -20px;
    }
    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        right: 50%;
        width: 375px;
        height: 44px;
    }
}




/*.background-land.initial {*/
/*    background: linear-gradient(220deg, hsl(190deg 67% 63%) 0%, hsl(196deg 68% 61%) 10%, hsl(203deg 64% 61%) 20%, hsl(212deg 55% 62%) 30%, hsl(228deg 40% 62%) 40%, hsl(256deg 29% 58%) 50%, hsl(276deg 32% 57%) 60%, hsl(296deg 33% 55%) 70%, hsl(314deg 47% 56%) 80%, hsl(325deg 64% 58%) 90%, hsl(333deg 81% 59%) 100%);*/
/*}*/

/*.background-land.clicked {*/
/*    background: linear-gradient(140deg, rgb(181, 132, 217), rgb(240, 78, 152));*/
/*}*/
/*.background-land {*/
/*    padding-top: 435px;*/
/*    height: 120vh;*/
/*    border-radius: 0px 0px 55px 75px;*/
/*    transition: background 1s ease; !* Increased duration for a more noticeable transition *!*/
/*    background-size: 200% 200%;*/
/*    background-position: 0 100%;*/
/*}*/

/*.background-land.initial {*/
/*    background-image: linear-gradient(220deg, hsl(190deg 67% 63%) 0%, hsl(196deg 68% 61%) 10%, hsl(203deg 64% 61%) 20%, hsl(212deg 55% 62%) 30%, hsl(228deg 40% 62%) 40%, hsl(256deg 29% 58%) 50%, hsl(276deg 32% 57%) 60%, hsl(296deg 33% 55%) 70%, hsl(314deg 47% 56%) 80%, hsl(325deg 64% 58%) 90%, hsl(333deg 81% 59%) 100%),*/
/*    linear-gradient(140deg, rgb(181, 132, 217), rgb(240, 78, 152));*/
/*    background-blend-mode: soft-light;*/
/*}*/

/*.background-land.clicked {*/
/*    background-image: linear-gradient(220deg, hsl(190deg 67% 63%) 0%, hsl(196deg 68% 61%) 10%, hsl(203deg 64% 61%) 20%, hsl(212deg 55% 62%) 30%, hsl(228deg 40% 62%) 40%, hsl(256deg 29% 58%) 50%, hsl(276deg 32% 57%) 60%, hsl(296deg 33% 55%) 70%, hsl(314deg 47% 56%) 80%, hsl(325deg 64% 58%) 90%, hsl(333deg 81% 59%) 100%),*/
/*    linear-gradient(140deg, rgb(181, 132, 217), rgb(240, 78, 152));*/
/*    background-blend-mode: difference;*/
/*    background-position: 100% 0;*/
/*}*/
