@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");

body {
    font-family: "Signika Negative", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

section {
    width: 100vw;
    height: 100vh;
    background-color: lightgrey;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.description {
    background-color: white;
}

footer {
    height: 75vh;
    width: 100vw;
    background-color: #222;
    overflow: hidden;
}

section.footer-container {
    height: 75vh;
    color: #f0f0f0;
    background-color: #222;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-row {
    height: 33.3%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-row.center {
    background-color: #262626;
    justify-content: space-around;
}

.logo {
    width: 400px;
    height: 80px;
    background-color: #f0f0f0;
    border-radius: 3px;
}

.items {
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.item {
    width: 80px;
    height: 80px;
    background-color: #f0f0f0;
    border-radius: 3px;
}

.circles {
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border-radius: 50%;
}

.foot {
    height: 20px;
    width: 80vw;
    background-color: #f0f0f0;
    border-radius: 3px;
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: darkgoldenrod;
}

h2 {
    font-size: 20px;
    color: #333;
    font-style: italic;
}
.yellow-spacer{
    width: 100%;
    height: 100px;
    border-radius: 250px 250px 0px 0px;
    background: linear-gradient(90deg,
    #FEA94F 0%,
    #FEA829 16%,
    #FEB12E 33%,
    #FEC04F 50%,
    #FECE6F 66%,
    #FEDC8A 83%,
    #FFEAAB 100%);
    z-index: -1;
}
.purple-spacer{
    width: 100%;
    height: 70px;
    border-radius: 250px 250px 0px 0px;
    background: linear-gradient(90deg,
    #B783D6 0%,
    #C376C8 25%,
    #C973C5 50%,
    #D572BC 75%,
    #E169B1 100%);
}
.pink-spacer{
    width: 100%;
    height: 70px;
    border-radius: 250px 250px 0px 0px;
    background: linear-gradient(90deg,
    #D00236 0%,
    #DE1152 14%,
    #ED186B 28%,
    #FE3691 42%,
    #FD6087 57%,
    #FC7472 71%,
    #F97846 100%);
}
.lander-spacer{
    width: 100%;
}
.jade-slider{
    background: linear-gradient(90deg, #BEC3D5, #328E9E, #068E4A, #027777, #048386);
    height: 100px;
    width: 100%;
    border-radius: 105px 105px 0 0;
    margin-bottom: -10px;
}
.backgy{
    background: linear-gradient(90deg,
    #FEA94F 0%,
    #FEA829 16%,
    #FEB12E 33%,
    #FEC04F 50%,
    #FECE6F 66%,
    #FEDC8A 83%,
    #FFEAAB 100%);
    border-radius: 105px;
}